ul,li{
    list-style: none;
}

section{
    clear: both;
    padding-top: 20px;
}

button{
    clear:both;
}

#status li{
    float: left;
    margin-right: 30px;
}

#order li{
    float: left;
    margin: 1%;
}
#order li:nth-child(odd){
    width: 25%;
}
#order li:nth-child(even){
    width: 70%;
}

